
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FlightBooker.com, <%= @passenger.name %></h1>
    <p>
      You are booked for a flight at <%= @date %>.<br>
    </p>

    <p>We look forward to flying with you!</p>
  </body>
</html>
